---
layout: default
---

<p class="meta">
  {{ page.date | date: "%B %d, %Y" }} 
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">{{ page.title }}</h1>

{% if page.requires_js_math %}
<script src="/assets/scripts/jsMath/easy/load.js"></script>
<NOSCRIPT>
  <DIV STYLE="color:#CC0000; text-align:center">
    JavaScript is used to process the mathematics on this page. If your browser supports JavaScript, be sure it is enabled.
  </DIV>
</NOSCRIPT>
{% endif %}

<div id="post">
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>